@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

/* INÍCIO: Fonte que a Lemos sugeriu <3 */
.sansita-bold {
  font-family: "Sansita", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* FIM: Fonte que a Lemos sugeriu <3 */

* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif, Arial;
}

body {
  min-width: 535px;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 15px 15px;
  background-color: lightgray;
  z-index: 1;
}

.image {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer {
  position: sticky;
  bottom: 0;
  padding: 15px 15px;
  background-color: lightgray;
  display: flex;
  flex-flow: column;
}

footer > span {
  display: flex;
  justify-content: flex-end;
}

footer > span:first-child {
  gap: 10px;
}

footer > span:first-child > a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}


main {
  background-color: #ffffff;
  padding: 10px 50px;
}

img {
  height: 50px;
}

nav {
  justify-content: center;
  display: flex;
  gap: 5px;
}

.button-style {
  background-color: salmon;
  color: black;
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0 5px #666;
  outline: 0;
}

.button-style:hover {
  background-color: yellowgreen;
}

.button-style:active {
  color: black;
  box-shadow: 0 5px #222;
  transform: translateY(4px);
}

nav > a {
  text-decoration: none;
  text-align: center;
  padding: 10px;
  width: 80px;
}

#lorem {
  text-align: center;
}

input[type="email"] {
  width: 300px;
  max-width: 90%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

input[type="submit"] {
  border: none;
  padding: 10px;
  width: 150px;
}

section {
  margin-bottom: 20px;
  padding-top: 90px;
}

section p, section div {
  margin: 15px 0;
}

input {
  display: block;
  margin: 10px auto;
}

.video {
  max-width: 560px;
  width: 100%;
  height: 350px;
  display: block;
  margin: 5px auto;
}

.prices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 15px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . .";
}

.column-01 {
  grid-column-start: 2;
}

.column-02 {
  grid-column-start: 3;
}

.column-03 {
  grid-column-start: 4;
}

.price-tag {
  border: 1px solid gray;
  width: 250px;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: lightgray;
  padding: 5px 10px;  
}

td {
  padding: 10px;
}

table > tbody > tr > td:nth-child(1) {
  text-align: right;
}

table > tbody > tr > td:nth-child(2) {
  text-align: left;
}

.price-tag-button {
  width: 120px;
  padding: 5px;
  border: none;
  font-size: 25px;
  margin: 20px;
}

.price-tag-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.price-tag-button span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.price-tag-button:hover span {
  padding-right: 70px;
}

.price-tag-button:hover span:after {
  opacity: 1;
  right: 0;
}

.price-tag-button-text-01 span:after {
  content: 'NU!';
}

.price-tag-button-text-02 span:after {
  content: 'IXE!';
}

.price-tag-button-text-03 span:after {
  content: 'AFF!';
}

@media (max-width: 620px) {
  .header {
    justify-content: center;
    align-content: center;
  }

  section {
    padding-top: 130px;
  }
}

@media (max-width: 900px) {
  .prices {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 0px;
    grid-auto-flow: column;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
  }

  .column-01 {
    grid-row-start: 1;
    grid-column-start: 2;
  }

  .column-02 {
    grid-row-start: 2;
    grid-column-start: 2;
  }

  .column-03 {
    grid-row-start: 3;
    grid-column-start: 2;
  }
}
